
article.text
    h2 About
    p I am a web developer with full-stack background that has been lately focusing mainly on frontend development. I prioritize comfortable UX, maintainability, efficiency and code reuse.
    p I've been doing web stuff for about 20 years, 15 years commercially, so not only do I know the new stuff buzzing right now, but I've been doing the job when IE 6 and PHP 4 were around and Chrome was not yet a thing.
    p I have experience with both Windows and Linux stacks, using popular technologies #[em like C#, .NET, React, Angular, Vue, PHP, Python, MySQL, Apache, nginx, IIS etc.] and also not-so-popular ones #[em like Nest, Pug, TAL, ZODB, Plone, PHPTAL].
    p Over the years I've been using various languages: #[em C, PHP, Python, Java, C#, JavaScript, etc.] Few years back I fell in love with TypeScript and currently I am trying to keep writing vanilla JavaScript to minimum in favor of said TS.
