
article.text
    h2 About
    p I am a #[strong frontend web developer] with rich full-stack background. I prioritize comfortable UX, maintainability and efficiency.
    p I've over 16 years of professional experience, so not only do I know the new stuff buzzing right now, but I've been doing the job when IE 6 and PHP 4 were around and Chrome was not yet a thing.
    p I have worked on Windows and Linux stacks, using popular technologies #[em like C#, .NET, React, Angular, Vue, Nest, PHP, Python, MySQL, Apache, nginx, IIS etc.] and also not-so-popular ones #[em like Pug, TAL, ZODB, Plone, PHPTAL].
    p Over the years I've been using various languages: #[em C, PHP, Python, Java, C#, JavaScript, etc.] Few years back I fell in love with #[strong TypeScript] and currently I am trying to keep writing vanilla JavaScript to minimum in favor of said TS.
    p Also, to name a few of my favorite tech things that I would like to continue using the most: #[em React, Angular, Next.js, Nest, Electron].
