
article.text
    h2 About
    p I am an experienced full-stack web app developer lately focusing on frontend development. I prioritize highly comfortable user experience, maintainability, efficiency and maximal code reuse.
    p I've been doing the web stuff for over 15 years now, 12 years commercially, so not only I know the new stuff buzzing right now, but I've been doing the job when IE 6 and PHP 4 were around and Chrome was not a thing yet.
    p I can make small websites with the same ease as I can develop and deploy feature-heavy content management systems and other complex applications. I enjoy building bigger apps more though as it is usually more challenging.
    p I have experience with both Windows and Linux stacks, using popular technologies #[em like PHP, C#, Python, MySQL, Apache, nginx, IIS, Angular, ASP.NET, Drupal, WordPress, etc.] and also not-so-popular ones #[em like TAL, ZODB, Plone, Nest, Pug, PHPTAL].
    p Recently I have been swimming in Node.js waters and I like it very much. I fell in love with TypeScript and would like to not have to write vanilla JS directly anymore.
