.row
    .col-xl-7
        article.text.avoid-page-breaks
            h2 About
            p I am an experienced full-stack web app developer focusing on highly comfortable user experience, maintainability, efficiency and maximal code reuse.
            p I've been doing the web stuff for over 15 years now, 12 years commercially, so not only I know the new stuff buzzing right now, but I've been doing the job when IE 6 and PHP 4 were around and Chrome was not a thing yet.
            p I can make small websites with the same ease as I am able to develop and deploy feature-heavy content management systems and other complex applications. I enjoy building bigger apps more though as it is usually more challenging.
            p I have experience with both Windows and Linux stacks, using popular technologies #[em like PHP, C#, Python, MySQL, Apache, nginx, IIS, APS.NET, Drupal, WordPress, etc.] and also not-so-popular ones #[em like TAL, ZODB, Plone, Nest, Pug, PHPTAL].
            p Recently I have been swimming in Node.js waters and I like it very much. I fell in love with TypeScript and would like to not have to write vanilla JS directly anymore. And yes I know about Babel, but that really is not enough.


    .col-xl-5.avoid-page-breaks
        .row
            .col
                h2 Skills
        .row
            .col-lg-6.col-xl-12.col-print-6
                article.skills
                    h3 Frontend languages
                    ul.skill-list
                        li(style="width: 95%") HTML / XHTML / XML
                        li(style="width: 95%") CSS / SASS / LESS
                        li(style="width: 80%") JavaScript
                        li(style="width: 66%") TypeScript

                    include skill_legend

            .col-lg-6.col-xl-12.col-print-6
                article.skills
                    h3 Backend languages
                    ul.skill-list
                        li(style="width: 80%") C# (.NET)
                        li(style="width: 75%") PHP
                        li(style="width: 50%") JS / TS (Node.js)
                        li(style="width: 33%") Python

                    include skill_legend
        .row
            .col-lg-6.col-xl-12.col-print-6
                article.languages
                    h3 Human languages
                    ul.language-list
                        li
                            b Czech
                            | : native speaker
                            include language_fake_stars
                            span.stars.real
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                        li
                            b English
                            | : proficient (~C1)
                            include language_fake_stars
                            span.stars.real
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                        li
                            b  Norweigan
                            | : learning
                            include language_fake_stars
                            span.stars.real
                                i.fas.fa-star
                        li
                            b  French
                            | : passive basics
                            include language_fake_stars
                            span.stars.real
                                i.fas.fa-star-half.omit-on-print
                                i.fas.fa-star-half-alt.omit-on-screen

.row
    .col-xl-7
        article.timeline.avoid-page-breaks
            h2 Timeline
            p TODO


    .col-xl-5.avoid-page-breaks
        article.contact.avoid-page-breaks
            h2 Contact
            p TODO

