article.details
    h2 Contact + other details

    section.detail-item
        .icon-wrapper
            i.fas.fa-envelope
        p.bold
            a(href="mailto:janca.klimova@email.cz") janca.klimova@email.cz

    section.detail-item
        .icon-wrapper
            i.fab.fa-github
        p.bold
            a(href="https://github.com/klimacka" target="_blank") github.com/klimacka&nbsp;
                i.fas.fa-external-link-alt

    section.detail-item
        .icon-wrapper
            i.fas.fa-home
        p.bold Resident of Brno, Czechia

    section.detail-item
        .icon-wrapper
            i.fas.fa-car
        p.bold Drivers license for cars and vans
