#download-pdf.omit-on-print
    a(href="/files/cv-janca-klimova-en.pdf")
        button.btn.btn-primary(type="button")
            i.fas.fa-file-download
            span Get PDF
    a(href="javascript: print();")
        button.btn.btn-primary(type="button")
            i.fas.fa-print
            span Print