article.education
    h2 Education

    section
        p.right.smaller 2001 - 2010
        h3 1#[sup st] Czech gymnasium in Karlovy Vary
        p General grammar school (8-year)

    section
        p.right.smaller 2010 - 2015
        h3 Masaryk University
            em.smaller  (unfinished)
        p The Faculty of Informatics, Computer Networks and Communication