article.hobbies
    h2 Interests &amp; hobbies
    ul.tag-list
        li #[i.fas.fa-tshirt] Sewing
        li #[i.fas.fa-cookie-bite] Baking &amp; cooking
        li #[i.fas.fa-chess-pawn] Board games
        li #[i.fas.fa-bicycle] Cycling
        li #[i.fas.fa-bullseye] Archery
        li #[i.fas.fa-crosshairs] Air-rifle shooting
        li #[i.fas.fa-beer] Beer tasting
        li #[i.fas.fa-user-secret] Security &amp; anonymity
        li #[i.fas.fa-camera] Photography
        li #[i.fas.fa-paragraph] Typography
        li #[i.fas.fa-gamepad] Gaming
        li #[i.fas.fa-leaf] Gardening
