
article.languages
    h3 Human languages
    ul.language-list
        li
            b Czech
            | : native speaker
            include language_fake_stars
            span.stars.real
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
        li
            b English
            | : advanced (C1+)
            include language_fake_stars
            span.stars.real
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
        li I also have some basics of
            b  Norwegian
            |  and
            b  French
            | .