.row
    #photo-header.col
        #photo
            img(src="./files/avatar.jpg" alt="avatar")
        h1 Hello! #[br] I&nbsp;am&nbsp;#[span.name Jana&nbsp;Klímová&nbsp;#[sup 30yo]] and&nbsp;this&nbsp;is&nbsp;my&nbsp;#[span.omit-on-print online&nbsp;]#[span.omit-on-screen print&nbsp;]resume
        p#see-online.omit-on-screen See it live online at:&nbsp;
            a(href="https://klimacka.github.io/en_cv.html") klimacka.github.io/en_cv.html