.row
    #photo-header.col
        #photo
            img(src="files/avatar.jpg" alt="avatar")
        h1 Hello! #[br] I&nbsp;am&nbsp;#[span.name Jannicke&nbsp;Lunde&nbsp;#[sup 27yo]] and&nbsp;this&nbsp;is&nbsp;my&nbsp;#[span.omit-on-print online&nbsp;]resume