
article.skills
    h3 Backend
    ul.skill-list
        li(style="width: 65%") C#
            small  and .NET
        li(style="width: 40%") TypeScript 
            small  on Node.js
        li(style="width: 40%") PHP
            small  with Symphony
        li(style="width: 40%") Python
        li(style="width: 25%") SQL

    include skill_legend
