.skills-legend.omit-on-print
    .legend-item-left.legend-item Beginner
    .legend-item-left.legend-item
        span Proficient
    .legend-item-right.legend-item
        span Expert
    .legend-item-right.legend-item Master
    .visual-clear