
article.skills
    h3 Backend
    ul.skill-list
        li(style="width: 65%") .NET with C#
        li(style="width: 60%") TypeScript on Node.js
        li(style="width: 40%") PHP with Symphony

    include skill_legend
