
article.skills
    h3 Frontend
    ul.skill-list
        li(style="width: 95%") HTML / XHTML / XML
        li(style="width: 95%") CSS / SASS / LESS
        li(style="width: 80%") JavaScript
        li(style="width: 75%") TypeScript

    include skill_legend
