
article.skills
    h3 Backend languages
    ul.skill-list
        li(style="width: 80%") C# (.NET)
        li(style="width: 75%") PHP
        li(style="width: 50%") JS / TS (Node.js)
        li(style="width: 33%") Python

    include skill_legend
