
article.skills
    h3 Frontend
    ul.skill-list
        li(style="width: 85%") TypeScript
            small  + JS
        li(style="width: 75%") HTML
        li(style="width: 75%") CSS
            small  + SASS / LESS
        li(style="width: 40%") React
        li(style="width: 20%") Angular

    include skill_legend
