
article.skills
    h3 Frontend
    ul.skill-list
        li(style="width: 85%") TypeScript
            small  + JS
        li(style="width: 70%") React
        li(style="width: 35%") Angular
        li(style="width: 35%") Vue.js
        li(style="width: 90%") jQuery

    include skill_legend
