
article.skills
    h3 Backend
    ul.skill-list
        li(style="width: 70%") C#
            small  and .NET
        li(style="width: 65%") TypeScript 
            small  +JS on Node.js
        li(style="width: 50%") PHP
            small  with Symphony
        li(style="width: 30%") SQL

    include skill_legend
