
article.timeline
    h2 Timeline
    .content
        .line
        table
            tbody
                tr
                    td.year
                        span 2002
                    td.content
                        .bg
                            p.title Started learning web development
                                span.smaller  (in PHP)
                            p At that time I was 11 years old and developing localy on my computer my first web pages using WAMP stack.
                            p It looked awfull, were not doing much, but it was an early start! Other kids were playing Mafia while I was trying to figure out how to play music on my website for example.

                tr
                    td.year
                        span 2006
                    td.content
                        .bg
                            p.title ATICOM s.r.o.
                                span.range 2006 – 2013
                            p I've started working part-time for 4 to 6 hours every day including weekends, since I was attending high school and a university later on.
                            p What I did back then were various kinds of web projects using #[em ZOPE / Plone CMS] ranging from small company websites, over intranet document management systems, to public web applications including an e-shop.

                tr
                    td.year
                        span 2014
                    td.content
                        .bg
                            p.title myWAC s.r.o.
                                span.range 2014 – 2015
                            p Development of ERP / CRM / HRM software in Classic ASP (VBscript) and Transact-SQL.

                tr
                    td.year
                        span 2015
                    td.content
                        .bg
                            p.title MULTIMA a.s.
                                span.range 2015 – 2016
                            p Development of web-based solutions mainly in ASP.NET (C#) and Transact-SQL.
                            p I've also gained some basic Android development XP there.

                tr
                    td.year
                        span 2017
                    td.content
                        .bg
                            p.title Safetica Technologies s.r.o.
                                span.range 2017 – 2019
                            p Over a year of development of Angular SPA.
                            p Before that it was development of frontend (and backend) of a legacy .NET (C#) SPA.
                            p Utilized technologies include: TypeScript + JavaScript, KendoUI, Angular, .NET MVC and more…

                tr
                    td.year
                        span 2020
                    td.content
                        .bg
                            p.title Oriflame Software s.r.o.
                                span.range 2020 – 2021
                            p Frontend developer for a whole range of internal and external packages / projects.
                            p Utilized technologies include: TypeScript, KendoUI, React, .NET MVC and more…
