
article.tools
    h2 Tools of trade
    ul.tag-list
        li .NET MVC
        li Angular
        li Apache
        li Bootstrap
        li DRY &amp; KISS
        li Electron
        li Font Awesome
        li Git
        li Gulp
        li IIS
        li Jest
        li jQuery
        li JSDOM
        li KendoUI
        li Mocha
        li Nest.js
        li Next.js
        li Nginx
        li Node.js
        li Prettier
        li Pug
        li Python
        li React
        li SASS
        li TFS
        li TSlint
        li TypeScript
        li Vue.js
