article.tools
    h2 Some tools of trade
    ul.tag-list
        li .NET MVC
        li AJAX
        li Apache
        li Bootstrap
        li C#
        li Chrome
        li Coffee
        li Debian
        li DRY &amp; KISS
        li Entity framework
        li Firefox
        li Font Awesome
        li Git
        li Gulp
        li IIS
        li JavaScript
        li jQuery
        li JSDOM
        li Mocha
        li MS SQL
        li MySQL
        li Nest.js
        li Nginx
        li Node.js
        li Notepad++
        li NPM
        li OpenSSL
        li PHP
        li PHPTAL
        li Plone
        li Pug
        li Python
        li SASS
        li SQLite
        li Stack Overflow
        li StyleCop
        li SVN
        li Symfony
        li TAL
        li TFS
        li TSlint
        li TypeORM
        li TypeScript
        li Ubuntu
        li Visual Studio
        li VS Code
        li Vue.js
        li Webpack
        li Windows
        li ZODB
        li Zope
